<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem vel quae ab ipsum natus iure fugiat voluptas expedita recusandae, molestiae, ipsa maiores tempora beatae exercitationem impedit. Obcaecati minus nesciunt nam cupiditate ullam rem corrupti ipsam laboriosam similique modi, doloribus commodi repudiandae tempora quasi numquam? Repudiandae.</p>
    <button>Click me</button>
</body>
</html>