<% layout("/layouts/boilerplate.ejs") %>

    <body>
        
        <!-- <h3>All Listings</h3> -->
        <!-- <form method="get" action="/listings/new">
            <button>Create new listing</button>
        </form> -->
<div id="filters">
<div class="filters">
    <i class="fa-solid fa-fire">
    Trending
    </i>
</div>
</div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for (const listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem;"
                            alt="listing_img"/>
                        <dv class="card-img-overlay"></dv>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b>
                                <br>
                                &#8360; <%= listing.price.toLocaleString("en-IN") %> / night
                            </p>
                        </div>
                    </div>
                </a>

                <% } %>
        </div>

    </body>