<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>

<body>
    <h2>This page belongs to @<%= username %>
    </h2>
    <button>Follow</button>
    <button>Message</button>
    <h2>Accounts that follows you:</h2>
    <ul>
        <% for (const name of followers) { %>
            <li>
                <%= name %>
            </li>
            <% } %>
    </ul>
</body>

</html>