<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="enter your username"><br><br>
        <textarea name="content" placeholder="write your post" ></textarea>
        <br>
        <button>Submit your post</button>
    </form>
</body>
</html>