<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail of post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Here is detail of your post</h1>
    <h4>post id is <%= post.id %></h4>
    <div class="post">
        <h3 class="username">@<%= post.username %>
        </h3>
        <h4 class="content">
            <%= post.content %>
        </h4>
</body>
</html>