<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h3>All Listings</h3>
        <!-- <form method="get" action="/listings/new">
            <button>Create new listing</button>
        </form> -->
        <ul>
            <% for (const listing of allListings) { %>
                <li><a href="/listings/<%= listing._id %>">
                        <%= listing.title %>
                    </a></li>
                <% } %>
        </ul>
    </body>