<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h3>All Listings</h3>
        <!-- <form method="get" action="/listings/new">
            <button>Create new listing</button>
        </form> -->
        
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for (const listing of allListings) { %>
                <div class="card col" style="width: 20rem;">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img">
                    <div class="card-body">
                        <p class="card-text">
                            <%= listing.title %>
                                <br>
                                &#8360; <%= listing.price.toLocaleString("en-IN") %> / night
                        </p>
                    </div>
                </div>
                <% } %>
        </div>

    </body>