<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>

<body>
    <h3>Write new chat..</h3>
    <form method="post" action="/chats">
        <input type="text" name="from" placeholder="Who are you?">
        <br><br>
        <textarea name="msg">Write your message here..</textarea>
        <br><br>
        <input type="text" name="to" placeholder="add receiver">
        <br><br>
        <button>Create Chat</button>
    </form>
</body>

</html>