.main {
    padding: 0;
    margin: 0;
    display: grid;
    /* height: 100vh; */
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.main div {
    background-color: pink;
    font-size: 1.5rem;
}

.header {
    grid-column: 1/span 12;
}

.sidebar {
    grid-row: 2 /span 10;
    grid-column: 1/span 3;

}

.navigation {
    grid-column: 4 /span 6;
}

.main {
    grid-row: 3 /span 9;
    grid-column: 4 /span 6;
}

.ads {
    grid-column: 10 /span 3;
    grid-row: 2 /span 10;
}

.footer {
    grid-column: 1/span 12;
}

@media (max-width:720px) {
    .navigation {
        grid-column: 1 /span 12;
        grid-row: 2;
    }

    .sidebar {
        grid-row: 3 /span 9;
        grid-column: 1/span 3;
    }

    .main {
        grid-column: 4 /span 9;
    }

    .ads {
        grid-column: 1 /span 3;
        grid-row: 12 /span 1;
    }

    .footer {
        grid-column: 4/span 9;
    }

}

.loader {
    height: 300px;
    width: 300px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    animation: loader 2s linear infinite ;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}