.container{
    height: 60vh;
    width: 80vw;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
align-items:center;
}

.box{
    height: 10vh;
    width: 5vw;
    background-color: orangered;
    border: 2px solid brown;
    margin: 10px;
}