.card {
    height: auto;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    overflow: hidden;
    transition: 1s;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.desk {
    padding: 0 2px 0 2px;
}

.card:hover{
    box-shadow: 0 8px 16px rgb(0, 0, 0);
}
