.box {
    height: 100px;
    width: 100px;
    background-color: black;
    transition: margin-top 1s ease-in 0.5s;
}

.box:hover {
    background-color: aquamarine;
    margin-top: 100px;
    border-radius: 50%;
}