#main-topic {
    color: blue;
}

* {
    text-align: center;
}

h1,
h3,
h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.para {
    color: white;
    background-color: cornflowerblue;
}

div button {
    background-color: purple;
    color: azure;
}

button:hover {
    background-color: yellow;
    color: blue;
}

p:nth-of-type(2n) {
    background-color: yellow;
}

h1::first-letter {
    color: red;
}

#yes:checked + label {
    color: darkgreen;
    }